/* {
  Triadic
Three colors spaced evenly along the color wheel, each 120 degrees of hue apart.
Best to allow one color to dominate and use the others as accents.
      color lila :  #dbd3f7
     color verde :  #d3f7db
     color rosa :   #f7dbd3
     color gris plomo : #4d4442
} */


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
