.card {
    display: flex;
    flex-direction: column;
    max-height: auto;
    width: 150px;
    border: 5px solid grey;
    border-radius: 2px;
    background-color: khaki;
    margin-inline: 35px 35px;
    margin-top: 35px;
    transition: transform .3s;
}

.card:hover {
    transform: scale(1.2);
}

.text {
    color: lightcoral;
    font-size:9px 
}

text:hover {
    background-color: white;
}

.pic{
    margin-top: 15px;
}
