.Container {
  height: 60vh;
  background-color: #fcf5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
};
.Title {
  font-size: 70px;
  margin-bottom: 20px;
};

.Desc {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;

};

.InputContainer 
  {width: 50%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
};

.Input 
  {border: none;
  flex: 8;
  padding-left: 20px;
};

.Button 
 { flex: 1;
  border: none;
  background-color: teal;
  color: white;
};